@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #ADADAD;
}

.navigation_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navigation_bar h5 {
    color: #d20e14;
    font-weight: 600;
}

.navigation_bar ul {
    display: flex;
}

.navigation_bar ul li {
    list-style: none;
}

.navigation_bar ul li a {
    text-decoration: none;
    color: #bb091a;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navigation_bar ul li:hover a {
    color: #ffb742  ;
}

.navigation_bar ul li:last-child a {
    margin: 0;
}

.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main img {
    width: 150px;
    margin-bottom: 20px;
    height: 150px;
    margin-top: 100px;
}

.title, .subtitle {
    text-align: center;
    color: #ffff;
    margin-bottom: 20px;
}
.main h4{
    font-size: 32px;
    color: #2E1114;
    font-weight: 600;
}
.main h4 span{
    color: #ffb742;
    text-decoration: underline;


}
.main p.title{
    font-size:44px ;
font-weight: 600;
color: #FFFF;
margin-top: 8px;

}
.main p.subtitle{
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
    color: #2E1114;

}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0 50px;
}

.about img {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}
footer{
    position: relative;
    background-color: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}
footer .cols{
    display: flex;
    align-items: start;
}
footer .cols .links-col{
    flex: 3;
    margin: 10 200px;
}
footer .cols .links-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color:#7b7b7b;
    font-size: 14px;
}
footer .cols h3{
    margin-right: 400px;
}
.info .link_Hoc{
    color: #ffb742;
}
.info .link_Hoc:hover{
    color: green;
}

.fade-in6 {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name_intro_M {
    color: yellow;
    font-size: 22px;
}

.name_intro_R {
    color: #24e124;
    font-size: 22px;
}

.name_intro_A {
    color: #eca9a9;
    font-size: 22px;
}

.name_intro_S {
    color: #43e0a0;
    font-size: 22px;
}

.big {
    font-size: 20px;
}

.profile {
    width: 610px;
    height: 510px;
    border: none;
    float: left;
    margin: 0px;
    margin-top: -87px;
    margin-bottom: 38px;
    margin_left: 175px;
    margin-right: 0px;
}

#greeting {
    text-align: center;
    font-size: 25px;
}